body {
    margin: 0;
    text-align: center;
    background-color: #1C1C1C;
    font-family: "Inter", sans-serif;
}

#hero {
    background-color: #6943FF;
    height: 300px;
    color: #FFFFFF;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 620px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

input {
    height: 83px;
    width: 150px;
    text-align: center;
    font-size: 72px;
    font-family: "Inter", sans-serif;
    font-weight: bold;
    color: #FFFFFF;
    background-color: #6943FF;
    border: 2px #B295FF solid;
    border-radius: 8px;
    margin-bottom: 25px;

}

input:focus {
    outline: none;
    background-color: #5E3CE6;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input::placeholder {
    color: #C4C4C4;
}

button {
    background-color: #FFFFFF;
    padding: 10px 30px;
    border-radius: 7px;
    border: 0px;
    font-family: "Inter", sans-serif;
    
}

button:hover {
    background-color: #E3E3E3;
}

button:active {
    background-color: #CFCFCF;
}

#everything {
    background-color: #1F2937;
    width: 620px;
    border-radius: 5px;
}

#flex-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;



}

h2 {
    color: #CCC1FF;
}

p {
    color: #FFFFFF; 
}

h1 {
    padding: 20px 50px;
    margin-bottom: 10px;
}

.three-sections {
    padding-top: 20px ;
}

.panel {
    background-color: #273549;
    padding: 10px 0px;
    width: 520px;
    margin-bottom: 25px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 7px;
}